
.landing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

.landing-main-div{
    height: 40%;
    width: 50%;
    backdrop-filter: blur(12px);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.landing-title{
    font-size: 100px;
    color: var(--background-color-primary);
}

.section-title{
    font-size: 80px;
    color: var(--color-red);
    text-shadow: 2px 2px var(--color-blue);
    margin-top: 4%;
    margin-bottom: 2%;
    z-index: 2;
}

.landing-subtitle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    font-weight:700;
    font-size: 24px;
    margin-block: 36px;
    color: var(--color-white);
}

.ambassador-image{
    position: absolute;
    height: 600px;
    width: 800px;
    z-index: 1;
    left: -20px;
    top: 50vh;
}



/* FOR MOBILE AND TABLET */
@media screen and (max-width: 992px) {
    .landing-main-div{
        width: 90%;
    }
    .ambassador-image{
        top: 80vh;
        left: -80px;
        height: 300px;
        width: 400px;
    }
    
}

/* FOR MOBILE */
@media screen and (max-width: 600px){
    .landing-main-div{
        height: 60%;
    }
    .landing-title{
        font-size: 60px;
        color: var(--color-yellow);
    }
    .landing-subtitle{
        width: 60%;
        flex-direction: column;
        align-items: start;
    }
    .section-title{
        font-size: 48px;
    }
}